<div class="table-container">
    <div class="inner">
        <table>
            <thead>
                <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>thumbnail</th>
                <th>code</th>
                <th>stock</th>
                <th>status</th>
                <th>category</th>
                
                </tr>
            </thead>
            <tbody>
            {{#each products as |product|}}
                <tr>
                    <td>{{product._id}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.thumbnail}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.status}}</td>
                    <td>{{product.category}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="table__caption">
        <h2 class="table__header">Lista de productos</h2>
        <p class="table__header--sub"></p>
    </div>
</div> 
